<div class="footer">
  <p style="float: left;">
    <a href="{% url "compare:output" comparison.slug "txt" %}">View text version</a>.
    Results are kept for {{ settings.TRYDIFFOSCOPE_RESULTS_RETENTION_DAYS }} day{{ settings.TRYDIFFOSCOPE_RESULTS_RETENTION_DAYS|pluralize }}.
  </p>
  <p style="float: right; text-align: right; line-height: 24px;">
    Hosting provided by<br>
    <a href="https://www.iomart.com/"><img src="{% static "images/iomart.png" %}" alt="iomart"></a>
  </p>
</div>
