{% extends "base/generic_base.html" %}

{% block body %}

{% if messages %}
{% for message in messages %}
<div class="container alert alert-{% if message.tags == "error" %}danger {% else %}{{ message.tags }}{% endif %}">
  <button type="button" class="close" data-dismiss="alert">×</button>
  {{ message }}
</div>
{% endfor %}
{% endif %}

{% block container %}
<div class="container">
  {% block content %}{% endblock %}
</div>
{% endblock %}

<footer>
  <div class="container">
    <hr>
    <p class="text-muted text-center">
      Copyright &copy; 2015&mdash;{% now "Y" %}
      <a href="https://chris-lamb.co.uk">Chris Lamb</a>.
      Released under the terms of the
      <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">GNU Affero General Public License</a>
      (<a href="https://salsa.debian.org/reproducible-builds/try.diffoscope.org">source</a>).
      <br>
      Results are purged after {{ settings.TRYDIFFOSCOPE_RESULTS_RETENTION_DAYS }}
      day{{ settings.TRYDIFFOSCOPE_RESULTS_RETENTION_DAYS|pluralize }}.
      <a href="{% url "static:privacy" %}">Privacy policy</a>.
      <a href="{% url "static:terms" %}">Terms of service</a>.
    </p>
  </div>
</footer>

{% endblock %}
